{% extends 'layout.html' %}

{% block css %}
<link  rel="stylesheet" href="/static/css/add.css" >
{% endblock %}


{% block content %}
    <h3>添加页面</h3>
    {% include 'forms.html' %}
{% endblock %}

{% block jg %}
    <script>
function PopResponse(pk, text, id) {
    // 选择哪一个select标签
    // option的文本值和value值

       var $option=$('<option>');  //  <option></option>
       $option.html(text); //  <option>南京出版社</option>
       $option.val(pk);     //  <option value=111>南京出版社</option>
       $option.attr("selected","selected") ;   //  <option value=111>南京出版社</option>
       $("#"+id).append($option)

    }
</script>
{% endblock %}